html{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

body{
    background-color: #030303;
    font-family: monospace;
    background: rgb(36,29,45);
    background-image: url('pixel-jeff-clipc-s.gif');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    padding-top: 30px;
    transition: filter .3s;
}

body.offline{
    filter: grayscale(100%) contrast(.80);
}

#online-status{
    color: #44ffb1;
    position: relative;
    left: -60px;
}

#online-status span{
    text-transform: uppercase;
}

body.offline #online-status{
    color: white;
}

h1{
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    margin: 10px 0 0 15px;
}

.block__wrapper{
    position: absolute;
    right: 0;
    width: 65%;
    height: 80%;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    padding: 30px 45px;
}

.block{
    width: 50%;
    height: auto;
    position: relative;
    padding: 15px;
    align-self: start;
}

.block_title{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
    padding: 2px 17px 0 0;
    display: inline-block;
    position: relative;
    color: white;
}

.cpu .block_title{
    color: #f693ff;
}

.memory .block_title{
    color: #e3ff44;
}

.network{
    position: absolute;
    width: calc(100% - 40px);
    left: 40px;
    bottom: 16px;
    color: white;
    display: flex;
    align-items: flex-end;
}

.network:hover{
    z-index: 1;
}

.network .block_title{
    color: #00aeff;
}

.network span:nth-of-type(2n){
    color: #afd8ff;
}

.network span:after{
    content: ' / ';
}

.network span:last-child:after{
    content: '';
}

#connections{
    opacity: 0.3;
}

.network:hover #connections{
    opacity: 1;
    background-color: rgba(0,0,0,.85)
}

#latency{
    position: absolute;
    left: 84px;
    bottom: 62px;
    transform: rotate(-90deg);
    transform-origin: left bottom;
}

.drive{
    width: 100%;
}

.drive .block_title{
    background-color: #fc034e;
}

.drive .bar{
    width: 100%;
    display: flex;
    height: 30px;
    border: 1px solid #fff;
}

.drive .bar .used,
.drive .bar .free{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    position: relative;
}

.drive .bar .tooltip{
    display: none;
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translate(-30%);
    color: #000;
    background-color: white;
    word-break: keep-all;
    white-space: nowrap;
    z-index: 1;
}


.drive .bar > div:hover .tooltip{
    display: block;
}

.drive .bar .used{
    color: white;
    background-color: #fc034e;
}

.drive .bar .free{
    color: white;
    background-color: rgba(0,0,0,.75);
}

.block_value{
    color: #fff;
    font-size:  24px;
    font-weight: bold;
    margin-bottom: 5px;
}

.block_value:after{
    content: "%";
    font-size: 0.85em;
}

.block_subtitle{
    font-size: 8px;
    color: white;
    bottom: 0;
}

footer{
    font-size: 8px;
    position: absolute;
    background-color: rgba(0,0,0,.8);
    padding: 10px;
    color: white;
}

header{
    width: 100%;
    position: absolute;
    top: 0;
    user-select: none;
}

header .title-bar{
    -webkit-app-region: drag;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 26px;
    color: white;
    background-color: rgba(0,0,0,.8);
}

header .title-bar-btns{
    padding-right: 5px;
    position: absolute;
    height: 100%;
    right: 0;
    display: flex;
    align-items: center;
    gap: 5px;
    -webkit-app-region: no-drag;
}

header .btn{
    display: inline-flex;
    width: 16px;
    height: 16px;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: white;
    border-left: 1px solid #fc034e;
    border-bottom: 1px solid #fc034e;
    border-top: 1px solid #FFF;
    border-right: 1px solid #FFF;
}

header .btn:hover{
    background-color: #fc034e;
    cursor: pointer;
}

header .btn:active, header .btn:focus{
    background-color: #FFF;
    color: #000;
}

footer{
    bottom: 0;
}


footer a{
    color: white;
}

footer a:hover{
    color: #b370ff;
}

#os{
    max-width: 255px;
    color: white;
    word-wrap: break-word;
    white-space:break;
    word-break: break-all;
}

#os span em{
    font-weight: bold;
    color: rgb(241, 252, 255);
}

#player{
    position: relative;
    display: inline-block;
    width: 144px;
    height: 17px;
    border-left: 1px solid #fc034e;
    border-bottom: 1px solid #fc034e;
    border-top: 1px solid #FFF;
    border-right: 1px solid #FFF;
    position: absolute;
    top: 42px;
    right: 14px;
    user-select: none;
    cursor: pointer;
}

#player .volume_fill{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #fc034e;
    transform-origin: center left;
}

#player::before{
    content: "volume";
    font-size: 9px;
    font-weight: bold;
    position: absolute;
    left: 4px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    z-index: 2;
}