html{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #030303;
    font-family: monospace;
    background: rgb(36,29,45);
    background-image: url('pixel-jeff-clipc-s.gif');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

h1{
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    margin: 20px;
}

.block__wrapper{
    position: absolute;
    right: 0;
    width: 65%;
    height: 80%;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 45px;
}

.block{
    width: 50%;
    position: relative;
    padding: 15px;
    align-self: start;
}

.block_title{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
}

.cpu .block_title{
    color: #fc034e;
}

.memory .block_title{
    color: #03dbfc;
}

.drive{
    width: 100%;
}

.drive .block_title{
    width: calc(100% - 20px);
    position: relative;
    background-color: #fc034e;
}

.drive .block_title:before,
.drive .block_title:after{
    content: "";
    width: 4px;
    height: 100%;
    background-color: #fc034e;
    position: absolute;
    right: -8px;
}

.drive .block_title:after{
    width: 8px;
    right: -20px;
}

.drive .bar{
    width: 100%;
    display: flex;
    height: 30px;
    border: 1px solid #fff;
}

.drive .bar .used,
.drive .bar .free{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    position: relative;
}

.drive .bar .tooltip{
    display: none;
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translate(-30%);
    color: #000;
    background-color: white;
    word-break: keep-all;
    white-space: nowrap;
    z-index: 1;
}


.drive .bar > div:hover .tooltip{
    display: block;
}

.drive .bar .used{
    color: #000;
    background-color: #fc034e;
}

.drive .bar .free{
    color: white;
    background-color: rgba(0,0,0,.75);
}

.block_value{
    color: #fff;
    font-size:  30px;
    font-weight: bold;
}

.block_value:before{
    content: "";
    position: absolute;
    width: 12vw;
    bottom: 0;
    border-bottom: 1px solid #fff;
    left: 0;
    right: 0;
}

.block_value:after{
    content: "%";
}

footer{
    font-size: 8px;
    position: absolute;
    bottom: 0;
    background-color: rgba(0,0,0,.8);
    padding: 10px;
    color: white;
}

footer a{
    color: white;
}

footer a:hover{
    color: rgb(0, 255, 242);
}